<html>

    <head>
        <title>Food4just2 by Siyu Yao</title>
        
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSEBVoud-UsPk7MO2QT3do1nJJl12KtzU&callback=myMap"></script> -->
        <link rel="stylesheet" type="text/css" href="static/css/screen.css">
        <link rel="stylesheet" type="text/css" href="static/css/css.css">
        <link rel="stylesheet" href="static/font-awesome/font-awesome.css">
        <link rel="stylesheet" href="static/collageplus/css/transitions.css">
        <link rel="stylesheet" href="static/css/bootstrap-slider.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap-slider.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
        <script type="text/javascript" src="static/collageplus/jquery.collagePlus.min.js"></script>
        <script type="text/javascript" src="static/collageplus/extras/jquery.removeWhitespace.min.js"></script>
        <script type="text/javascript" src="static/collageplus/extras/jquery.collageCaption.min.js"></script>

        <script type="text/javascript">
            $( document ).ready(function() {

            });

            // All images need to be loaded for this plugin to work so we end up waiting for the whole window to load in this example
            $(window).load(function () {
                $(document).ready(function(){
                    collage();
                    $('.Collage').collagePlus();
                    // $('.Collage').collageCaption();
                });
            });

            // Here we apply the actual CollagePlus plugin
            function collage() {
                $('.Collage').collagePlus(
                {
                    //'fadeSpeed'     : 2000,
        		    //'direction'     : 'vertical',
        		    'effect'          : 'default',		
        		    'direction'       : 'horizontal',
                    'targetHeight'    : 100
                }
                );
            };

            // This is just for the case that the browser window is resized
            var resizeTimer = null;
            $(window).bind('resize', function() {
                // hide all the images until we resize them
                //$('.Collage .Image_Wrapper').css("opacity", 0);
                // set a timer to re-apply the plugin
                //if (resizeTimer) clearTimeout(resizeTimer);
                //resizeTimer = setTimeout(collage, 200);
            });
        </script>

        <script src="./static/highmaps/js/highmaps.js"></script>
        <script src="./static/highmaps/js/modules/data.js"></script>
        <script src="./static/highmaps/js/modules/exporting.js"></script>
        <script src="http://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>
        <link rel="alternate" type="application/rss+xml" title="Food4just2 by Siyu Yao" href="http://www.moviEharmony.website/rss/">
        <link rel="canonical" href="http://www.moviEharmony.website/">



        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div element that contains the map. */
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #description {
                font-family: Roboto;
                font-size: 20px;
                font-weight: 500;
            }

            #infowindow-content .title {
                font-weight: bold;
            }

            #infowindow-content {
                display: none;
            }

            #map #infowindow-content {
                display: inline;
            }

            .pac-card {
                margin: 20px 20px 0 0;
                border-radius: 4px 0 0 4px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                outline: none;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
                background-color: #fff;
                font-family: Roboto;
            }

            #pac-container {
                padding-bottom: 40px;
                margin-right: 20px;
            }

            .pac-controls {
                display: inline-block;
                padding: 5px 11px;
            }

            .pac-controls label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
            }

            #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 800;
                margin-left: 15px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 400px;
            }

            #pac-input:focus {
                border-color: #4d90fe;
            }

            #title {
                color: #fff;
                background-color: #4d90fe;
                font-size: 25px;
                font-weight: 500;
                padding: 6px 12px;
            }
            #target {
                width: 345px;
            }
        </style>

    </head>









    <body class="home-template">


        <header id="site-head" style="background-image: url(static/front2.jpg)">
            <div class="vertical">
                <div id="site-head-content" class="inner">

                    <h1 class="blog-title" style="color:white; background-color:darkred;" > <b>Food4just2 </b></h1>
                    <h2 class="blog-description" style="color:white; background-color:maroon;"> <b> by Siyu Yao</b>,<br>
                        <b> A Data Engineering Fellow </b>,<br> 
                        <b> @ Insight Data Science, winter 2019.<b></h2>

                        <a class="btn" url="/Restaurant Search/"><b>Restaurant Search</b></a>
                        <!-- <a class="btn" url="/queryuser/">queryuser</a> -->
                        <!-- <a class="btn" url="/enterreview/">enterreview</a> -->
                        <a class="btn" url="/About/"><b>About</b></a>
                        <div> 
                            <p style="color:white;" Food4just2 <br>
                                A Restaurant Recommendation Engine<br>
                                that suits the tastes of two people!<br>
                            </p>
                        </div>
                </div>
            </div>
        </header>






        <main class="content" role="main">


            <div style="display: block" class="fixed-nav">
                <a class="fn-item" url="/Restaurant Search/">Restaurant Search</a>
                <!-- <a class="fn-item" url="/queryuser/">queryuser</a> -->
                <!-- <a class="fn-item" url="/enterreview/">enterreview</a> -->
                <a class="fn-item" url="/About/"><b>About</b></a>
            </div>


            <div class="post-holder">
                <article item_index="1" class="post" url="/Restaurant Search/">
                    <header class="post-header">
                        <h2 class="post-title">Restaurant Search</h2>
                    </header>

                    <section class="post-content">
                        Find Good Restaurant for two!<br>
                        <table>
                            <tr>
                                <td align=center>
                                    <b>User1 ID: </b><input id="user1" type="text" value=""><br>
                                </td>
                                <td align=center>
                                   <b>Power: </b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="PC02" id="P02" data-slider-tooltip="hide" data-slider-handle="round" />
                                </td>
                                <td align=center>
                                    <b>User2 ID: </b><input id="user2" type="text" value=""><br>
                                </td>
                            </tr>   
                        </table>
                        

                        
                        <input id="pac-input" class="controls" type="text" placeholder="Place of Interest">
                        <div id="map" style="width: 900px; height: 550px;"></div> 

                        <script>

                        function initAutocomplete() {

                            console.log(user1)
                            console.log(user2)
                            console.log(location)

                            var map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: 37.781104, lng: -122.395613},
                                zoom: 10,
                                mapTypeId: 'roadmap'
                            });

                            // Create the search box and link it to the UI element.
                            var input = document.getElementById('pac-input');
                            var searchBox = new google.maps.places.SearchBox(input);
                            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                            // Bias the SearchBox results towards current map's viewport.
                            map.addListener('bounds_changed', function() {
                              searchBox.setBounds(map.getBounds());
                            });

                            var markers = [];

                            // Listen for the event fired when the user selects a prediction and retrieve
                            // more details for that place.
                            searchBox.addListener('places_changed', function() {
                                var places = searchBox.getPlaces();

                                if (places.length == 0) {
                                    return;
                                }

                                // Clear out the old markers.
                                markers.forEach(function(marker) {
                                    marker.setMap(null);
                                });
                                markers = [];

                                // For each place, get the icon, name and location.
                                var bounds = new google.maps.LatLngBounds();
                                places.forEach(function(place) {
                                    if (!place.geometry) {
                                        console.log("Returned place contains no geometry");
                                    return;
                                    }
                                    var icon = {
                                        url: place.icon,
                                        size: new google.maps.Size(71, 71),
                                        origin: new google.maps.Point(0, 0),
                                        anchor: new google.maps.Point(17, 34),
                                        scaledSize: new google.maps.Size(25, 25)
                                    };

                                    // Create a marker for each place.
                                    markers.push(new google.maps.Marker({
                                        map: map,
                                        icon: icon,
                                        title: place.name,
                                        position: place.geometry.location
                                    }));

                                    if (place.geometry.viewport) {
                                        // Only geocodes have viewport.
                                        bounds.union(place.geometry.viewport);
                                    } else {
                                        bounds.extend(place.geometry.location);
                                    }

                                    var userCurLati = place.geometry.location.lat();
                                    var userCurLong = place.geometry.location.lng();  
                                    console.log(userCurLati)
                                    console.log(userCurLong)
                            

                                    map.fitBounds(bounds);
                                    addMarkers(map);    // call function addMarkers(map) to add the recommended places

                                });
                            })
                        }


                        // adding the recommended markers to map
                        //var myRecommendations = [
                        //    ['recommended place 1', 37.4348, -121.276, 4],
                          //  ['Coogee Beach', 37.78, -121.2592, 5],
                            //['Cronulla Beach', 37.751, -121.1507, 3],
                            //['Manly Beach', 37.738, -121.287478, 2],
                        //];

                        var myRecommendations = { {data|tojson} };

                        console.log(myRecommendations);


                        function addMarkers(map) {

                            for (var i = 0; i < myRecommendations.length; i++) {
                                var place = myRecommendations[i];
                                console.log("new place: " + place)
                                var newMarker = new google.maps.Marker({
                                  // position: {lat: place[1], lng: place[2]},
                                  position: new google.maps.LatLng(place.latitude, place.longitude),
                                  map: map,
                                  title: place[0],
                                  zIndex: place[3]
                                });
                                console.log("new marker: " + newMarker)


                                var infowindow = new google.maps.InfoWindow();

                                google.maps.event.addListener(newMarker, 'click', function(newMarker, i) {
                                      infowindow.setContent(this.get('title'));
                                      infowindow.open(map, this);
                                });
                            }
                            
                        }

                        </script>
                        
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSEBVoud-UsPk7MO2QT3do1nJJl12KtzU&libraries=places&callback=initAutocomplete">
                        </script>

                    </section>
                </article>


            <div style="border-top-color: rgb(242, 239, 232); left: 6%; display: block;" class="post-after"> </div>
            </div>






            <div class="post-holder">
                <article item_index="6" class="post" url="/About/">
                    <header class="post-header">
                        <h2 class="post-title">About</h2>
                    </header>
                    <section class="post-content">
                        <ul>
                            <li>For more details of this project, please refer to the <a href="https://docs.google.com/presentation/d/1FtoaIVPPhP_EAuTF8g_M3FPkHYh_8_f55Xg7-A-Dd7g/edit#slide=id.p13" target="_blank">SlideShow Page</a>.</li><br>
                            <li>To know more about the author, Siyu Yao, please refer to her <a href="https://www.linkedin.com/in/yao-siyu" target="_blank">LinkedIn Page</a>.</li><br>
                        </ur>
                    </section>
                </article>

                <div style="border-top-color: rgb(0, 153, 204);" class="post-after">
                </div>
            </div>


        </main>





        <footer class="site-footer">
            <div class="inner">
                "Please enjoy our recommendations!"
            </div>
        </footer>





        <script type="text/javascript">

            $('.Collage').removeWhitespace().collagePlus({
                'targetHeight' : 100
            });

            var loadTimer = null;

            var RGBChange = function() {
            var user1 = document.getElementById("user1").value;
            //alert(user1);
            var user2 = document.getElementById("user2").value;
            //alert(user2);
            var p02 = document.getElementById("P02").value;
            //alert(p02);
            loadthisurl = "/RestaurantSearchrefresh/"+user1+"/"+user2+"/"+p02+"";
            //alert(loadthisurl);
            
            loadTimer = setTimeout(function() {$('.Collage .Image_Wrapper').css("opacity", 0); $('.Collage').load(loadthisurl);} , 500);
            //$('.Collage').load(loadthisurl);
            //alert("loading");
            $('.Collage').collagePlus();
            };

            var loadthisurl = "";

            var p02 = $('#P02').slider()
            .on('slideStop', RGBChange)
            .data('slider');

        </script>

    </body>

</html>