<html>
<head>
    <title>Food4just2 by Siyu Yao</title>

    <link rel="stylesheet" type="text/css" href="static/css/screen.css">
    <link rel="stylesheet" type="text/css" href="static/css/css.css">
    <link rel="stylesheet" href="static/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="static/collageplus/css/transitions.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="static/css/bootstrap-slider.css">

    <!-- Other Stuff -->

    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="static/js/bootstrap-slider.js"></script>

    <script type="text/javascript" src="static/js/index.js"></script>

    <script type="text/javascript" src="static/collageplus/jquery.collagePlus.min.js"></script>
    <script type="text/javascript" src="static/collageplus/extras/jquery.removeWhitespace.min.js"></script>
    <script type="text/javascript" src="static/collageplus/extras/jquery.collageCaption.min.js"></script>

    <script type="text/javascript">
    $( document ).ready(function() {
	
    });

    <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>


    // All images need to be loaded for this plugin to work so
    // we end up waiting for the whole window to load in this example
    $(window).load(function () {
        $(document).ready(function(){
            collage();
	    $('.Collage').collagePlus();
            // $('.Collage').collageCaption();
        });
    });
    // Here we apply the actual CollagePlus plugin
    function collage() {
        $('.Collage').collagePlus(
            {
              // 'fadeSpeed'     : 2000,
		      //'direction'       : 'vertical' 		,
		      'effect'          : 'default',		
		      'direction'       : 'horizontal',
              'targetHeight'    : 100
            }
        );
    };
    // This is just for the case that the browser window is resized
    var resizeTimer = null;
    $(window).bind('resize', function() {
        // hide all the images until we resize them
        //$('.Collage .Image_Wrapper').css("opacity", 0);
        // set a timer to re-apply the plugin
        //if (resizeTimer) clearTimeout(resizeTimer);
        //resizeTimer = setTimeout(collage, 200);
    });

    </script>

                <script src="./static/highmaps/js/highmaps.js"></script>
                <script src="./static/highmaps/js/modules/data.js"></script>
                <script src="./static/highmaps/js/modules/exporting.js"></script>
                <script src="http://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>

    <link rel="alternate" type="application/rss+xml" title="Food4just2 by Siyu Yao" href="http://www.moviEharmony.website/rss/">
    <link rel="canonical" href="http://www.moviEharmony.website/">
</head>






<body class="home-template">
<header id="site-head" style="background-image: url(static/front2.jpg)">
    <div class="vertical">
        <div id="site-head-content" class="inner">

            <h1 class="blog-title" style="color:white; background-color:darkred;" > <b>Food4just2 </b></h1>
            <h2 class="blog-description" style="color:white; background-color:maroon;" >by <b>Siyu Yao</b>,<br>
            <b> a data engineering fellow </b>,<br> 
            <b> @ insight data science, winter 2019.<b></h2>

            <a class="btn" url="/moviesearch/">Food Search</a>
            <!-- <a class="btn" url="/queryuser/">queryuser</a> -->
            <!-- <a class="btn" url="/enterreview/">enterreview</a> -->
		    <a class="btn" url="/about/">About</a>
            <div> 
            <p style="color:white;" Food4just2 <br>
            A Restaurant Recommendation Engine<br>
            that suits the tastes of two people!<br>
            </p>
            </div>
            <!-- <div style="color:black;" id="realtimecounter" src="http://www.moviEharmony.website:5000/foodsearch/_count">
                Number of reviews processed: 4,607,088 -->
            </div>
        </div>
    </div>
</header>




<main class="content" role="main">

    <div style="display: block" class="fixed-nav">
        <a class="fn-item" url="/moviesearch/">Food Search</a>
        <!-- <a class="fn-item" url="/queryuser/">queryuser</a> -->
        <!-- <a class="fn-item" url="/enterreview/">enterreview</a> -->
	<a class="fn-item" url="/about/">About</a>
    </div>
    <div class="post-holder">

        <article item_index="1" class="post" url="/Restaurant Search/">
        <header class="post-header">
            <h2 class="post-title">Food Search</h2>
        </header>

            <section class="post-content">
            Find good Restaurant for two!<br>
                <table>
                    <tr>
                    <td align=center>
                	<b>User1 ID: </b><input id="user1" type="text" value=""><br>
                <!--
                        <b>Humor</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="RC01" id="R01" data-slider-tooltip="hide" data-slider-handle="round" /><br>
                        <b>Tears</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="GC01" id="G01" data-slider-tooltip="hide" data-slider-handle="round" /><br>
                        <b>Action</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="BC01" id="B01" data-slider-tooltip="hide" data-slider-handle="round" /><br>
                        <div id="RGB01"></div>
                -->
                    </td>
                    <td align=center>
                           <b>Power: </b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="PC02" id="P02" data-slider-tooltip="hide" data-slider-handle="round" />
                    </td>
                    <td align=center>
                	<b>User2 ID: </b><input id="user2" type="text" value=""><br>
                <!--
                        <b>Humor</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="RC02" id="R02" data-slider-tooltip="hide" data-slider-handle="round" /><br>
                        <b>Tears</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="GC02" id="G02" data-slider-tooltip="hide" data-slider-handle="round" /><br>
                        <b>Action</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="BC02" id="B02" data-slider-tooltip="hide" data-slider-handle="round" /><br>
                        <div id="RGB02"></div>
                -->
                    </td>
                    </tr>

                </table>



                <body>

                    <h4>My Google Maps Demo</h4>
                    <!--The div element for the map -->
                    <!--
                    <div id="map">
                    <script>
                        // Initialize and add the map
                        function initMap() {
                        // The location of Uluru
                        var uluru = {lat: -25.344, lng: 131.036};
                        // The map, centered at Uluru
                        var map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: uluru});
                        // The marker, positioned at Uluru
                        var marker = new google.maps.Marker({position: uluru, map: map});
                        }
                    </script>
                    <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVEoiBfMcTq4ogPzlX5hxc02QWYdi10h8&callback=initMap">
                    </script>
                    </div>
                </body> 
    -->

<div id="map">

    <script>
    var map;
    var bounds;
    var tem = [{
        featureType: 'all',
        stylers: [{
            saturation: -80
        }]
    }, {
        featureType: 'road.arterial',
        elementType: 'geometry',
        stylers: [{
            hue: '#00ffee'
        }, {
            saturation: 50
        }]
    }, {
        featureType: 'poi.business',
        elementType: 'labels',
        stylers: [{
            visibility: 'off'
        }]
    }];
    var restaurants = [
     [40.7559501870753, -74.4107041507959],
     [40.9031154, -74.4076702],
     [40.8809432983398, -74.3819046020508],
     [40.723937714264, -74.306469376626],
     [40.8622684502874, -74.4962810991364],
     [40.79662, -74.481992],
     [40.6221855, -74.4457526],
     [40.8588989669258, -74.3589119830252],
     [40.646815, -74.399289],
     [40.68273, -74.44516],
     [40.8579857, -74.3520475],
     [40.6517633427513, -74.3247372827576],
     [40.82325, -74.4185],
     [40.6844885741496, -74.1073497064864],
     [40.6527253109552, -74.3307454884052],
     [40.5742224156025, -74.3244423284531],
     [40.7404861450195, -74.3826751708984],
     [40.69717, -74.40494],
     [40.828575, -74.479576],
     [40.8337736874819, -74.2480885237455]
      ];

    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map = new google.maps.Map(document.getElementById('map'), {
                    center: pos,
                    zoom: 12,
                    styles: tem
                });
                setMarkers(map);
                google.maps.event.addListener(map, 'idle', function(event) {
                    bounds = map.getBounds();
                    console.log(bounds);})
            })
        };
    }

      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;

     function setMarkers(map) {
        for (var i = 0; i < restaurants.length; i++) {
          var restaurant = restaurants[i];
          var marker = new google.maps.Marker({
            position: {lat: restaurant[0], lng: restaurant[1]},
            map: map,
            clickable: true,
            label: labels[labelIndex++ % labels.length]
          });
          addInfoWindow(marker, restaurant[0].toString());
        }
      }

      function addInfoWindow(marker, info) {
            var infoWindow = new google.maps.InfoWindow({
                content: info
            });
            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.open(map, marker);
            });
        }

       function clearMarkers() {
        setMapOnAll(null);
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3wIkGZBn7XWzjM5E7ECwOXonHb2HPozc&callback=initMap">
    </script>
</div>









                <div class="Collage"></div>
            </section>
        </article>




        <div style="border-top-color: rgb(242, 239, 232); left: 6%; display: block;" class="post-after"></div>
    </div>



    <!-- 
    <div class="post-holder">
            <article item_index="1" class="post" url="/queryuser/">
            <header class="post-header">
                <h2 class="post-title">User Profile</h2>
            </header>
            <section class="post-content">
                <br>
			<b>User1 ID: </b><input id="user1profileid" type="text" value="1000">
			<input id="submituserquery1" type="submit" value="Submit" >
                <div class="user1movielist"></div>
			<b>User2 ID: </b><input id="user2profileid" type="text" value="10000">
			<input id="submituserquery2" type="submit" value="Submit" >
                <div class="user2movielist"></div>
            </section>
        </article>
        <div style="border-top-color: rgb(242, 239, 232); left: 6%; display: block;" class="post-after"></div>
    </div>


    <div class="post-holder">
            <article item_index="1" class="post" url="/enterreview/">
            <header class="post-header">
                <h2 class="post-title">Enter Review</h2>
            </header>
            <section class="post-content">
		<table>
    			<tr>
    				<td align=center>
                			<b>Explore by Movie ID: </b><input id="movieprofileid" type="text" value="B000003K81">
					<input id="submitmoviequery" type="submit" value="Submit" >
				</td>
			</tr>
		</table>
                <div class="moviedetails"></div>
		<table>
    			<tr>
    				<td align=center>
					<b>User ID: </b>
				</td>
				<td>
					<input id="reviewerid" type="text" value="888888"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Movie ID: </b>
				</td>
				<td>
					<input id="asin" type="text" value="B000003K81"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Overall: </b>
				</td>
				<td>
					<input id="overall" type="text" value="4"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Summary: </b>
				</td>
				<td>
					<input id="summary" type="text" value="I love this movie"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Reivew Text: </b>
				</td>
				<td>
					<input id="reviewText" type="text" value="Really interesting movie ...."><br>
				</td>
			</tr>
			<tr>
				<td>
					<input id="submitreview" type="submit" value="Submit" >
				</td>
			</tr>
		</table>
                <div class="submitreviewstatus"></div>
		<br>
            </section>
        </article>
        <div style="border-top-color: rgb(242, 239, 232); left: 6%; display: block;" class="post-after"></div>
    </div> 
    -->



    <!--div style="color: black; background: rgb(0, 153, 204);" class="post-holder"-->
    <div class="post-holder">

            <article item_index="6" class="post" url="/about/">

            <header class="post-header">

                <h2 class="post-title">About</h2>

            </header>
            <section class="post-content">
                <ul>
                <li>To know out more about the author, Siyu Yao, at <a href="https://www.linkedin.com/in/yao-siyu" target="_blank">LinkedIn page</a>.</li>
                <li><a href="https://docs.google.com/presentation/d/1FtoaIVPPhP_EAuTF8g_M3FPkHYh_8_f55Xg7-A-Dd7g/edit#slide=id.p13" target="_blank">Slideshow</a>.</li>
                </ul>
            </section>
        </article>
        <div style="border-top-color: rgb(0, 153, 204);" class="post-after"></div>
    </div>

</main>

    <footer class="site-footer">
        <div class="inner">
            "Enjoy our recommendation!"
        </div>
    </footer>

<script type="text/javascript">



$('.Collage').removeWhitespace().collagePlus(
    {
        //'targetHeight' : 100,
        'targetHeight' : 100
    }
);

var loadTimer = null;

var RGBChange = function() {
    //$('#RGB01').css('background', 'rgb('+r01.getValue()+','+g01.getValue()+','+b01.getValue()+')');
    //$('#RGB02').css('background', 'rgb('+r02.getValue()+','+g02.getValue()+','+b02.getValue()+')');
    //alert("start");
    var user1 = document.getElementById("user1").value;
    //alert(user1);
    var user2 = document.getElementById("user2").value;
    //alert(user2);
    var p02 = document.getElementById("P02").value;
    //alert(p02);
    loadthisurl = "/moviesearchrefresh/"+user1+"/"+user2+"/"+p02+"";
    //alert(loadthisurl);
    //loadthisurl = "/foodsearch";

    //if (loadTimer) clearTimeout(loadTimer);
    //loadTimer = setTimeout(function() {$('.Collage .Image_Wrapper').css("opacity", 0); $('.Collage').load(loadthisurl);} , 500);
    loadTimer = setTimeout(function() {$('.Collage .Image_Wrapper').css("opacity", 0); $('.Collage').load(loadthisurl);} , 500);
    //$('.Collage').load(loadthisurl);
    //alert("loading");
    $('.Collage').collagePlus();
};

var loadthisurl = "";

//var r01 = $('#R01').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var g01 = $('#G01').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var b01 = $('#B01').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');

//var r02 = $('#R02').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var g02 = $('#G02').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var b02 = $('#B02').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
var p02 = $('#P02').slider()
        .on('slideStop', RGBChange)
        .data('slider');

//RGBChange();

//function user1profile() {
    //var user1 = document.getElementById("user1profileid").value;
    //user1url = "/userquery/"+user1;
    //loadTimer = setTimeout(function() {$('.user1movielist').load(user1url);} , 500);
//};
//function user2profile() {
    //var user2 = document.getElementById("user2profileid").value;
    //user2url = "/userquery/"+user2;
    //loadTimer = setTimeout(function() {$('.user2movielist').load(user2url);} , 500);
//};
//user1profile();
//user2profile();
document.getElementById("submituserquery1").onclick = function () {
	var user1 = document.getElementById("user1profileid").value;
	user1url = "/queryuser/" + user1 ;
	$('.user1movielist').load(user1url);
};
document.getElementById("submituserquery2").onclick = function () {
	var user2 = document.getElementById("user2profileid").value;
	user2url = "/queryuser/" + user2;
	$('.user2movielist').load(user2url);
};
document.getElementById("submitmoviequery").onclick = function () {
	var movieprofileid = document.getElementById("movieprofileid").value;
	movieurl = "/submitmoviequery/" + movieprofileid ;
	$('.moviedetails').load(movieurl);
};
document.getElementById("submitreview").onclick = function () {
	var reviewerID = document.getElementById("reviewerid").value;
	var asin = document.getElementById("asin").value;
	var overall = document.getElementById("overall").value;
	var summary = document.getElementById("summary").value;
	var reviewText = document.getElementById("reviewText").value;
	//alert("in");
	summary = summary.replace(/\W+/g, "_")
	reviewText = reviewText.replace(/\W+/g, "_")
	movieurl = "/submitreview/" + reviewerID + "/" + asin + "/" + overall + "/" + summary + "/" + reviewText ;
	//alert(movieurl);
	$('.submitreviewstatus').load(movieurl);
};


</script>

</body></html>
