<!--Section: Contact v.2-->
<section class="section">

  <!--Section heading-->
  <h2 class="section-heading h1 pt-4 mb-5">Food4just2</h2>

  <div class="card">

    <div class="card-body">

      <!--Google map-->
      <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 200px">
        <iframe src="https://maps.google.com/maps?q=Miami&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>

      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <form>

            <div class="md-form">
              <input type="text" id="contact-name" class="form-control">
              <label for="contact-name" class="">User1</label>
            </div>

            <div class="md-form">
              <input type="text" id="contact-email" class="form-control">
              <label for="contact-email" class="">User2</label>
            </div>

            <div class="md-form">
              <input type="text" id="contact-Subject" class="form-control">
              <label for="contact-Subject" class="">Location</label>
            </div>

          </form>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="md-form primary-textarea">
            <textarea type="text" id="contact-message" class="md-textarea form-control mb-0" rows="5" style="padding-bottom: 1.2rem;"></textarea>
            <label for="contact-message">Power Scale</label>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-12">
          <div class="text-center">
            <a class="btn btn-mdb-color btn-block">Let's do recommendation!</a>
          </div>
        </div>
        <!--Grid column-->

      </div>

    </div>

  </div>

</section>
<!--Section: Contact v.2-->
